

.container-grid {
    display: grid;
    vertical-align: top;
    background-color: black;
    padding: 10px;   
    text-align: right;
    color: #f4f4f4; 
}
.logo {
    width: 2%;
    padding: 1%;
    text-align: center;
}
.nav {
    display: grid;
    padding: 1%;
    
}
.ul {
    width: 50%;
    margin-left: auto;
    padding: 1%;
}
.heroImg {
    align-content: center;
    height: 600px;
    padding: 25px;
    background-color: black;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.footer {
    display: grid;
    text-align: left;
    background-color: black;
    color: #f4f4f4;
}